html, body{
    height: 100%;
    overflow:hidden;
    margin: 0; padding: 0;
}
body {
    background: rgba(100,100,100, 0.1);
}

#main-toolbar {
    border-bottom: 1px solid rgba(100,100,100,.5);
    box-shadow: 2px 2px 5px;
}

/**
 * Layout the container that will hold the AutomatonViewer.
 * Note that this container must be a fixed-height container
 * because it establishes a scrollable region for the atmn grid.
 */
#viewer {
    overflow: auto;
    position: absolute;
    top: 55px; bottom: 0;
    left: 0px; right: 0px;
}

#rule-num-display {
    padding: 5px;
    font-size: 1.3em;
}

#app-settings {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: rgba(100,100,100,.5);
    display: none;
}
#app-settings.visible {
    display: block;
}

#app-settings > div {

    margin: 20px auto;
    overflow: auto;
    width: 300px;
    min-width: 50px;
    background: white;
    padding: 20px;
}

#app-settings > div form {
}

#app-loading {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: white;
}

/* style the internal elements of the AutomatonViewer */
.atmn-grid-scroll {
}

table.atmn-grid-content {
    border-collapse: separate;
    border-spacing: 1px;
}

.atmn-grid-content .atmn-grid-cell {
    border: 1px solid lightgray;
    padding: 0px;
}

.atmn-grid-content .atmn-grid-cell.on {
    background: black;
}
